@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 118rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 1rem;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  min-height: 50px;
  width: 100%;
  display: block;
  padding: 0px 8px;
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 133%;
  letter-spacing: -0.02em;
  background-color: #404048;
  border-radius: 10px;
  color: #fff;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.select {
  position: absolute;
  top: 0;
  right: 0;
}

.select__option {
  font-weight: 700;
}

.select__content {
  text-align: right;
}

.select__body {
  position: relative;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: right;
}

.select__title {
  color: inherit;
  background-color: #404048;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
  text-align: right;
}

.select__value {
  font-weight: 700;
  line-height: 133%;
  letter-spacing: -0.02em;
  color: #ececec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.875rem;
  padding: 0 2.0625rem 0 0.625rem;
  gap: 0.1875rem;
  height: 100%;
}

@supports (font-size: clamp( 1rem , 0.8616071429rem  +  0.2232142857vw , 1.125rem )) {
  .select__value {
    font-size: clamp( 1rem , 0.8616071429rem  +  0.2232142857vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.8616071429rem  +  0.2232142857vw , 1.125rem )) {
  .select__value {
    font-size: calc(1rem + 0.125 * (100vw - 62rem) / 56);
  }
}

.select__value > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__value:after {
  content: "";
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  background: url("../img/ChevronDown.svg") 0 3px no-repeat;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._select-open .select__value:after {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-left: 8px;
}

.select__input {
  width: 100%;
  height: 100%;
}

.select__options {
  position: absolute;
  top: 45px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  right: 0;
  background-color: #404048;
  border-top: 0;
  padding: 10px 0px 5px 33px;
  font-weight: 700;
  font-size: 16px;
  line-height: 133%;
  letter-spacing: -0.02em;
  color: #ececec;
}

.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
}

.select__option {
  width: 100%;
  display: block;
  text-align: left;
  cursor: pointer;
  padding: 5px 15px;
  color: inherit;
}

.select__option._select-selected {
  background-color: #eee;
}

.select__option::before {
  content: "";
}

.select__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.select__text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

.select._select-open {
  z-index: 5;
}

._select-tag {
  cursor: pointer;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@supports (margin-bottom: clamp( 2rem , 1.9964095573rem  +  5.7447083523vw , 8.75rem )) {
  .exchange {
    margin-bottom: clamp( 2rem , 1.9964095573rem  +  5.7447083523vw , 8.75rem );
  }
}

@supports not (margin-bottom: clamp( 2rem , 1.9964095573rem  +  5.7447083523vw , 8.75rem )) {
  .exchange {
    margin-bottom: calc(2rem + 6.75 * (100vw - 0.0625rem) / 117.4994375);
  }
}

.page {
  background-color: #111319;
}

.title {
  font-weight: 700;
  line-height: 112%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #ececec;
}

@supports (font-size: clamp( 2.0625rem , 1.0152027027rem  +  1.6891891892vw , 3rem )) {
  .title {
    font-size: clamp( 2.0625rem , 1.0152027027rem  +  1.6891891892vw , 3rem );
  }
}

@supports not (font-size: clamp( 2.0625rem , 1.0152027027rem  +  1.6891891892vw , 3rem )) {
  .title {
    font-size: calc(2.0625rem + 0.9375 * (100vw - 62rem) / 55.5);
  }
}

.subtitle {
  font-weight: 500;
  text-align: center;
  line-height: 133%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #898989;
}

@supports (font-size: clamp( 1rem , 0.8603603604rem  +  0.2252252252vw , 1.125rem )) {
  .subtitle {
    font-size: clamp( 1rem , 0.8603603604rem  +  0.2252252252vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.8603603604rem  +  0.2252252252vw , 1.125rem )) {
  .subtitle {
    font-size: calc(1rem + 0.125 * (100vw - 62rem) / 55.5);
  }
}

.exchange__title:not(:last-child) {
  margin-bottom: 8px;
}

.exchange__content {
  padding: 20px 40px;
  background-color: #29292e;
  border-radius: 10px;
}

@supports (margin-bottom: clamp( 2rem , 0.885264342rem  +  1.7997750281vw , 3rem )) {
  .exchange__subtitle:not(:last-child) {
    margin-bottom: clamp( 2rem , 0.885264342rem  +  1.7997750281vw , 3rem );
  }
}

@supports not (margin-bottom: clamp( 2rem , 0.885264342rem  +  1.7997750281vw , 3rem )) {
  .exchange__subtitle:not(:last-child) {
    margin-bottom: calc(2rem + 1 * (100vw - 61.9375rem) / 55.5625);
  }
}

.form-exchange {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form-exchange__header {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.form-exchange__header:not(:last-child) {
  margin-bottom: 16px;
}

.form-exchange__column {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-exchange__button {
  position: relative;
  width: 52px;
  height: 52px;
  background: #edbb40;
  border-radius: 12.8163px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.form-exchange__button::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 30%;
  -webkit-transform: rotate(45deg) translate(-33%, -30%);
      -ms-transform: rotate(45deg) translate(-33%, -30%);
          transform: rotate(45deg) translate(-33%, -30%);
  background: url("../img/TransactionHorizontal.svg") 0 0 no-repeat;
  width: 24px;
  height: 24px;
}

.header-form-exchange {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-form-exchange__rate {
  font-weight: 600;
  line-height: 123%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #edbb40;
}

@supports (font-size: clamp( 1.4375rem , 1.2280405405rem  +  0.3378378378vw , 1.625rem )) {
  .header-form-exchange__rate {
    font-size: clamp( 1.4375rem , 1.2280405405rem  +  0.3378378378vw , 1.625rem );
  }
}

@supports not (font-size: clamp( 1.4375rem , 1.2280405405rem  +  0.3378378378vw , 1.625rem )) {
  .header-form-exchange__rate {
    font-size: calc(1.4375rem + 0.1875 * (100vw - 62rem) / 55.5);
  }
}

.header-form-exchange__number {
  position: relative;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 129%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #92959d;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-form-exchange__number::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #404048;
  z-index: -5;
}

.give-form-exchange {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.give-form-exchange__label {
  display: block;
  font-weight: 600;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #ececec;
}

.give-form-exchange__label:not(:last-child) {
  margin-bottom: 8px;
}

@supports (font-size: clamp( 0.75rem , 0.6103603604rem  +  0.2252252252vw , 0.875rem )) {
  .give-form-exchange__label {
    font-size: clamp( 0.75rem , 0.6103603604rem  +  0.2252252252vw , 0.875rem );
  }
}

@supports not (font-size: clamp( 0.75rem , 0.6103603604rem  +  0.2252252252vw , 0.875rem )) {
  .give-form-exchange__label {
    font-size: calc(0.75rem + 0.125 * (100vw - 62rem) / 55.5);
  }
}

.give-form-exchange__info {
  position: relative;
}

.give-form-exchange__info_space {
  margin-bottom: 34px;
}

.give-form-exchange__info:not(:last-child) {
  margin-bottom: 8px;
}

.give-form-exchange__input::-webkit-input-placeholder {
  color: #fff;
  font-size: 16px;
}

.give-form-exchange__input::-moz-placeholder {
  color: #fff;
  font-size: 16px;
}

.give-form-exchange__input:-ms-input-placeholder {
  color: #fff;
  font-size: 16px;
}

.give-form-exchange__input::-ms-input-placeholder {
  color: #fff;
  font-size: 16px;
}

.give-form-exchange__input::placeholder {
  color: #fff;
  font-size: 16px;
}

.amount {
  margin-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #898989;
}

@supports (font-size: clamp( 0.75rem , 0.6106580427rem  +  0.2249718785vw , 0.875rem )) {
  .amount {
    font-size: clamp( 0.75rem , 0.6106580427rem  +  0.2249718785vw , 0.875rem );
  }
}

@supports not (font-size: clamp( 0.75rem , 0.6106580427rem  +  0.2249718785vw , 0.875rem )) {
  .amount {
    font-size: calc(0.75rem + 0.125 * (100vw - 61.9375rem) / 55.5625);
  }
}

.amount__min span {
  text-decoration: underline;
}

.amount__max span {
  text-decoration: underline;
}

.exchange__form-exchange:not(:last-child) {
  margin-bottom: 16px;
}

.exchange__button {
  text-align: center;
}

.exchange__info {
  text-align: center;
}

.exchange__info:not(:last-child) {
  margin-bottom: 16px;
}

.exchange__item {
  font-size: 0.875rem;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #898989;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 133%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #29292e;
  padding: 12px 137px;
  min-height: 48px;
  background-color: #edbb40;
  border-radius: 10px;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.select__option .select__text {
  -o-text-overflow: none;
     text-overflow: none;
  white-space: nowrap;
  max-width: none;
  overflow: visible;
}

.partners__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 13px;
     -moz-column-gap: 13px;
          column-gap: 13px;
}

@media (min-width: 29.99875em) {
  .select__options {
    padding-top: 0;
    padding-left: 3px;
  }
}

@media (min-width: 117.5619375em) {
  .exchange {
    margin-bottom: inherit;
  }
}

@media (max-width: 61.99875em) {
  .select__text {
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 115px;
    overflow: hidden;
    min-width: 40px;
  }

  .form-exchange {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    row-gap: 15px;
  }

  .form-exchange__button {
    margin: 0 auto;
  }

  .header-form-exchange {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header-form-exchange__rate {
    display: none;
  }

  .give-form-exchange__info_space {
    margin-bottom: 8px;
  }

  .exchange__info {
    text-align: left;
  }
}

@media (max-width: 47.99875em) {
  .exchange__content {
    padding: 16px;
  }

  .header-form-exchange {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header-form-exchange__rate {
    display: block;
  }

  .button {
    display: block;
    padding: 12px 0;
  }
}

@media (max-width: 36.875em) {
  .header-form-exchange__rate {
    font-size: 1.25rem;
  }
}

@media (max-width: 22.4375em) {
  .select__text {
    max-width: 90px;
  }
}

@media (max-width: 22.5em) {
  .title {
    max-width: 242px;
    margin: 0 auto;
  }
}

@media (max-width: 0.0625em) {
  .exchange {
    margin-bottom: inherit;
  }
}

@media (any-hover: hover) {
  .select__option:hover {
    background: rgba(237, 188, 64, 0.6431372549);
  }

  .button:hover {
    background-color: rgba(237, 188, 64, 0.6431372549);
  }
}